.footer,
.top-link {
    font-size: var(--footersize);
    color: var(--secondary);
}

.footer {
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 20px;
    background: var(--theme);
    border-top: 1px solid var(--border);
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: var(--secondary);
    text-decoration: none;
}

.footer a:hover {
    color: var(--primary);
}

.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--tertiary);
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 50%;
    transition: visibility 0.5s, opacity 0.8s linear;
    color: var(--secondary);
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}
